.container{
	margin: auto;
	max-width: 100vw;
	max-height: 100vh;
}

nav ul{
	display: grid;
	grid-template-columns:	1fr;
	grid-gap: 1px;

}

nav li{
	margin: 10px 0 0 20px;
}

nav a , h3{
	font-size: 1.3rem;
}

p{
	margin: 2rem;
}

h1,p{
	font-size: 1.3rem;
}

h1{
	font-size: 2rem;
}

section{
	display: block;
}

img[alt="gym-2"],img[alt="gym-1"]{
	max-width: 97vw;
	max-height: 100vh;
}

button{
	font-size: 1.2rem;
	margin: 250px 0px 0px 150px;
	max-width: 120px;
	max-height: 70px;
	bottom: 100px;

}

button:hover {
	max-width: 120px;
}
